<main class="main">
  <div class="inner">
    <div class="thought_wrapper">
      <p class="thought_hedding">
        <%= @thought.title %>
      </p>
      <%= link_to "by#{@thought.user.name}", user_path(@thought.user_id), class: :thought__user %>
      <% if user_signed_in? && current_user.id == @thought.user_id%>
        <div class="thought_manage">
          <%= link_to "編集する", "#", class: :thought__btn %>
          <%= link_to "削除する", thought_path, class: :thought__btn, method: :delete %>
        </div>
        <% end %>
    </div>
  </div>
</main>
